*__pycache__
*.npy
*.npz
!spe10_perms_and_phi.npz
*.dat
*.h5m
*.h5
*.imp
*.vtk
*.msh
*compositional_adm
!27x27x27.msh
!100x1x1.msh
!500x1x1_b.msh
!25x25x1_b.msh
!100x1x1_m.msh
!100x1x10_2.msh
!1x1x500_b.msh
!1x1x100_m.msh
*.txt
*.csv
*.png
*_tt.py
impress/
impress(copia)/
*.pyc
.idea/
*_0_0.yml
*_0_0.py




*gmsh
