*/__pycache__
*.npy
*.mat
*.npz
*.dat
!capillary_pressure.dat
*.h5m
!27x1x1.h5m
*.h5
!9x9x9.h5m
*.vtk
*.msh
*compositional_adm
*.txt
!const_definitions.txt
!requirements.txt
*.csv
*.png
*_tt.py
impress/
impress_new/
impress(copia)/
*.pyc
*.cpython-36.pyc
*.imp
*.zip
*.pdf
*.svg
.idea/
venv/
*__pycache__/
*_0_0.yml
*_0_0.py

remove/
*.sh
*_testcases.py

*gmsh
*case_1d_5k_MM.py
