*/__pycache__
*.npy
*.npz
*.dat
*.h5m
*.h5
*.vtk
*.su2
*_rm.py

# *.msh
# !cube_unstructured.msh
# !cube_structured.msh
# !2d_unstructured.msh
# !oblique_quadrilateral_test1.msh
# !mpfad_mesh_tests

!2d_square.geo

*.txt
!const_definitions.txt
!requirements.txt

*.csv
*_tt.py
*.pyc
*.cpython-36.pyc
*.imp
*.zip
*.pdf
*.sh
*_testcases.py

impress/
impress_new/
impress(copia)/
.idea/
venv/
env/
*__pycache__/
*_0_0.yml
*_0_0.py

remove/


*gmsh
*case_1d_5k_MM.py

.spyproject/
.conda/
